@tailwind base;
@tailwind components;
@tailwind utilities;

/*animaciones */
.rotate-horizontal-center {
    animation: rotate-horizontal-center 0.6s
}

@keyframes rotate-horizontal-center {
    0% {
        transform: rotateX(0)
    }

    100% {
        transform: rotateX(-360deg)
    }
}